//====================================================================================================

//====================================================================================================

section {
  height: 100vh;
  width: 100vw;
}
.page__section_1 {
  background: rgb(130, 177, 151);
}
.page__section_2 {
  background: rgb(136, 185, 207);
}
.page__section_3 {
  background: rgb(165, 152, 175);
}
